# Pre Knowledge

In [ ]:
# using multiple assignment in input
input_str = "John Doe 25"
name, *line = input_str.split()

print("Name:", name)
print("Line:", line)

In [ ]:
first, *last

In [ ]:
#list as argument
def myl_function(num):
    for item in num:
        print(item)

x = [1,2,3,4,5]
myl_function(x)

In [ ]:
# map function
def make_even(num):
    return_list = []
    for item in num:
        if item%2 == 1:
            return_list.append(item+1)
        else:
            return_list.append(item)
    return return_list
x = [2,3,4,5,6]
make_even(x)

In [ ]:
def make_even(num):
    if num%2 == 1:
        return num+1
    else:
        return num

x = [1,2,3,4,5]
y = []
for num in x:
    y.append(make_even(num))
print(y)

In [ ]:
def make_even(num):
    if num%2 == 1:
        return num+1
    else:
        return num

x = [1,2,3,4,5]
y = [make_even(num) for num in x]
print(y)

In [ ]:
# map function
def make_even(num):
    if num%2 == 1:
        return num+1
    else:
        return num

x = [1,2,3,4,5]
y = list(map(make_even, x))
print(y)

In [ ]:
# Dictionary
student = {'name': 'John', 'age':25, 'courses': ['Math', 'CompSci']}
print(student['name'])

print(student.get('phone'))
print(student.get('hello', "Not found"))
student.update({'name':'Sabuj', 'age':24})

print(student)

In [ ]:
student = {'name': 'John Doe', 'age': 20, 'grade': 'A', 'courses': ['Math', 'English', 'Science']}

for key in student:
    print(key, student[key])

In [ ]:
student = {'name': 'John Doe', 'age': 20, 'grade': 'A', 'courses': ['Math', 'English', 'Science']}

for key, value in student.items():
    print(key, value)

In [ ]:
student = {'name': 'John Doe', 'age': 20, 'grade': 'A', 'courses': ['Math', 'English', 'Science']}

for value in student.values():
    print(value)

In [ ]:
student = {'name': 'John Doe', 'age': 20, 'grade': 'A', 'courses': ['Math', 'English', 'Science']}

for key in student.keys():
    print(key, student[key])

# Psudocode

# Jagged or Crude Solutions

# Refined Solutions

In [ ]:
def student_average(student_marks, query_name):
  for key, value in student_marks.items():
    if key== query_name:
      average_score = sum(value)/len(value)

  print('{:.2f}'.format(average_score))


if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    student_average(student_marks, query_name)

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = []
    for _ in range(n):
        name, *line = input().split()

# Additional